<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
    </style>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style type="text/css">
      .operative { font-weight: bold; border: 1px solid yellow; }
      #quine { border: 4px solid #88c; }
      html, body {
        height: 100%;
      }

      canvas.foo {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        boarder: 5px solid
      }
      pre.prettyprint {
        width: auto;
        overflow: auto;
        max-height: 600px
      }
    </style>
    <script language="Javascript">
        const urlParams = new URLSearchParams(window.location.search);
        var targetType = urlParams.get('target');
        if (targetType == null || targetType === "") {
            targetType = "HATCH";
        }
        targetType = targetType.toUpperCase()
        var url = "cam.jpg?target=" + targetType; //url to load image from
        var refreshInterval = 1000; //in ms
        var drawDate = true; //draw date string
        var img;
        var apiResult;

        function init() {
            var canvas = document.getElementById("cam_canvas");
            var context = canvas.getContext("2d");
            apiResult = document.getElementById("api_result")
            img = new Image();
            img.onload = function() {
                canvas.setAttribute("width", img.width)
                canvas.setAttribute("height", img.height)
                context.drawImage(this, 0, 0);
                if(drawDate) {
                    var now = new Date();
                    var text = now.toLocaleDateString() + " " + now.toLocaleTimeString();
                    var maxWidth = 100;
                    var x = img.width-10-maxWidth;
                    var y = img.height-10;
                    context.strokeStyle = 'black';
                    context.lineWidth = 2;
                    context.strokeText(text, x, y, maxWidth);
                    context.fillStyle = 'white';
                    context.fillText(text, x, y, maxWidth);
                }
            };
            img.onerror = function() {
                    var text = "<Image Unavailable>";
                    context.font = "100px Verdana";
                    context.strokeStyle = 'black';
                    context.lineWidth = 2;
                    context.fillStyle = 'white';
                    mt = context.measureText(text);
                    var x = canvas.width / 2 - mt.width / 2;
                    var y = canvas.height / 2;
                    context.strokeText(text, x, y);
                    context.fillText(text, x, y);
            };
            refresh();
        }
        function refresh()
        {
            jQuery.getJSON("/sv/api/v1.0/target-info", {})
                .done(function(data) {
                        jtext = JSON.stringify(data, null, 2);
                        apiResult.textContent = jtext;
                    })
                .fail(function(jqXHR, textStatus, errorThrown) {
                        apiResult = "Failed to fetch vision status; textStatus=" + textStatus;
                    });
            img.src = url + "&t=" + new Date().getTime();
            setTimeout("refresh()",refreshInterval);
        }
    </script>
    <title>MIHS FRC Jetson Vision System</title>


  </head>
  <body onload="Javascript:init()");">
    <h1> Robot Vision Status </h1>
    <p> This section is TBD </p>
    <canvas id="cam_canvas" style="border:5px solid #00D000; width:80%; height: auto; margin-left: auto; margin-right:auto; display:block"></canvas>
    <?prettify lang=javascript linenums=true?>
    <pre class="prettyprint" id="api_result"></pre>
  </body>
</html>